{% extends 'store/main.html' %}
{% load static %}


{% block content %}


<div class="container">
  <!-- Content here -->
 
  <div class="row">
    {% for p in productos %}
    <div class="col-md-3 col-sm-12 col-lg-4">
      <div class="card" style="width: 100%;">
        <img src="{{ p.imagen.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ p.marca }}</h5>
          <h5 class="card-title">{{p.precio}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'checkout' %}" class="btn btn-primary">Go to checkout</a>
        </div>
      </div>
    
    </div>

  
  
     {% endfor %}
  
  
</div>

{% endblock %} 




